.canvas-screen {
  border: 2px solid black;
}

.canvas-tools {
  display: flex;
  justify-content: stretch;
}

.canvas-tool-item {
  border: 2px solid red;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}

.canvas-tool-item input,.canvas-tool-item button{
  width: 1.7rem;
  font-size:0.7rem;
}



