.canvas-screen {
  border: 2px solid black;
  width:100%;
}

.canvas-tool-item {
  height: 5rem;
  border: 2px solid red;
  width:100%;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}

.canvas-tool-item input,.canvas-tool-item button{
  width: 1.7rem;
  font-size:0.7rem;
}



.canvas-tools {
  display: flex;
}
