header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.username {
  margin-bottom: 1rem;;
  border: 1px solid purple;
  padding: 0.2rem;
  margin:4rem;
}

.h1-draw {
  color: purple;
}

.h1-guess {
  color: rgb(247, 243, 18);
}