header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.username {
  margin-left: 2rem;;
  border: 3px dashed purple;
  padding: 0.2rem;
}

.h1-draw {
  color: purple;
}

.h1-guess {
  color: rgb(247, 243, 18);
}